In [1]:
# Steve Dow 05/09/2018 Homework (continued)
# PART 2 -- Database Engineering

In [2]:
##  Reviewed from 01-11-02-03 Stu_SharkSearch and 01-11-02-05 Cruddy_DB

# Import and establish Base for which classes will be constructed
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()
from sqlalchemy import Column, Integer, String, Float

import pymysql
pymysql.install_as_MySQLdb()

In [3]:
# Create Classes
class Measurement(Base):
    __tablename__ = 'hawaii_measurement'
    id = Column(Integer, primary_key=True)   
    station = Column(String(255))
    date = Column(String(15))
    prcp = Column(Float)
    tobs = Column(Integer)    
    
    
class Station(Base):
    __tablename__ = 'hawaii_station'
    id = Column(Integer, primary_key=True)
    station = Column(String(255))
    name = Column(String(255))
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)

In [4]:
# Create a connection to a SQLite database
engine = create_engine("mysql://root:Dow-MySQL1@localhost/hawaii")
conn = engine.connect()

C:\Users\Steve\Anaconda3\lib\site-packages\pymysql\cursors.py:165: Warning: (3719, "'utf8' is currently an alias for the character set UTF8MB3, which will be replaced by UTF8MB4 in a future release. Please consider using UTF8MB4 in order to be unambiguous.")
  result = self._query(query)

In [5]:
# Create the hawaii_measurement and hawaii_station tables within the database
Base.metadata.create_all(engine)

In [6]:
import os
import csv
import pandas as pd

# cleaned_hawaii_merged = "Instructions/Resources/cleaned_hawaii_merged.csv"
# # Read with pandas
# cleaned_hawaii_merged_pd = pd.read_csv(cleaned_hawaii_merged)
# cleaned_hawaii_merged_pd.head(1)

In [7]:
cleaned_hawaii_measurements = "Instructions/Resources/cleaned_hawaii_measurements.csv"

# Read with pandas
cleaned_hawaii_measurements_pd = pd.read_csv(cleaned_hawaii_measurements)
cleaned_hawaii_measurements_pd.head(1)

   Unnamed: 0      station        date  prcp  tobs
0           0  USC00519397  2010-01-01  0.08    65

In [8]:
hawaii_stations = "Instructions/Resources/hawaii_stations.csv"

# Read with pandas
hawaii_stations_pd = pd.read_csv(hawaii_stations)
hawaii_stations_pd.head(1)

       station                  name  latitude  longitude  elevation
0  USC00519397  WAIKIKI 717.2, HI US   21.2716  -157.8168        3.0

In [9]:
# To push the objects made and query the server we use a Session object
from sqlalchemy.orm import Session
session = Session(bind=engine)

In [10]:
## -- The test below worked in that I was able to get instances pushed to the MySQL database -- BUT now I need to get the whole dataframe pushed ??
## Create some instances of the station class
# test_station_one = Station(station="test1", name="Sally-Test", latitude=21.2222, longitude=44.8, elevation=5.0)
# test_station_two = Station(station="test2", name="Steve-Test", latitude=50.0000, longitude=45.2, elevation=10.0)

## Instead, did .to_sql... below to load the data into the SQl databases... 

cleaned_hawaii_measurements_pd.to_sql("hawaii_measurement", engine, if_exists = 'replace', index= False)
hawaii_stations_pd.to_sql("hawaii_station", engine, if_exists = 'replace', index= False)